<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYx3Af4skk1fqE6GCJypJpxE-IJ7V1IEA</string>
	<key>GCM_SENDER_ID</key>
	<string>257863169170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maximethonneau.fitrack</string>
	<key>PROJECT_ID</key>
	<string>fitrack-1e3f7</string>
	<key>STORAGE_BUCKET</key>
	<string>fitrack-1e3f7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257863169170:ios:8d75c245f371786226a24b</string>
</dict>
</plist>
