rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Avatar: avatars/{uid}.jpg
    match /avatars/{uid}.jpg {
      allow read: if true; // ou restreindre: request.auth != null
      allow write: if request.auth != null && request.auth.uid == uid;
    }

    // Refus par défaut
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}